<%= link_to("Back to the list of requests" , {:action => 'index'}) %>




<%= form_for(:request , :url => {:action => 'create'}) do |f| %>
  

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    
  </div>

    <div class="field">
    <%= f.label :published_on %><br>
    <%= f.text_field :published_on %>
    
  </div>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>